body {margin-bottom: 50px;}
#frog_under_leaf {z-index: 11; display: block; margin-top: 425px; margin-left: 100px;}
#two_frogs {z-index: 11; display: block; margin-top: 100px; margin-left: 900px ;}
#frog_on_mushroom {z-index: 11; display: block; margin-top: 150px; margin-left: 1000px;} 
#frog_red_eyes {z-index: 11; display: block; margin-top: 50px; margin-left: 800px;}
#cute_frog {z-index: 11; display: block; margin-top: -40px; margin-left: 500px;}
.image_gallery {position: absolute; z-index: 15;}
.video {position: fixed; margin-left: 25%; top: 20%; z-index: 20;
 border: black 20px solid; margin-top: 10px}
.pod {position: absolute; left: 0; right: 0; bottom: 0; top: 0; z-index: 5; width: 115%; z-index: 5;}
/*.paragraph {
	border: maroon dotted 5px; background: black; color: white; padding: 10px; margin-right: 250px; margin-top: 550px; margin-left: 300px; text-align: block; margin-bottom: 20px;width: 500px; position: fixed; z-index: 10 ;}*/
.paragraph {position: fixed;
    width: 300px;
    height: 300px;
    margin: 30px;
    z-index: 10;
   }
.paragraph {background-color: darkblue; background-width: 500px; background-height: 250;
    border: 1px solid darkblue;
    border-width: 300px; border-height: 300px; border-radius: 360px;
    opacity: 0.6;
    background-size: 300px 300px;
	position: fixed;
z-index: 10; padding-bottom: 10px;}
.paragraph_description {
    position: fixed; font-size: 13px;
    font-weight: bold; 
    z-index: 11;
    color: white;
    width: 400px; height: 200px; top: 72%; bottom: 20%; margin-bottom: 10px; padding-bottom: 10px;  
}

a.navbar {
	color: white;
	font-size: 26px;
	font-weight: 800;
	font-family: Georgia;
	text-shadow: 1px 2px darkslategrey;
}

a:link {
	text-decoration: none;
}

nav {position: absolute;
	z-index: 25;
	width: 1000px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: black;
	border: 1px solid slategrey;
}

ul {
	list-style-type: none;
	text-align: center;
}

li {
	display: inline;
	padding: 5px 40px;
	margin: 0px 50px;
}

h2{
	margin-top: 60px;
}
img{
	margin-top: 40px;
}


.block {
	float: left;
	vertical-align: middle;
}

img {
	border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
	-moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
	-webkit-border-radius: 1em 4em 1em 4em / 4em 1em 4em 1em;
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shadow: 0 0 10px #777777;
	box-shadow: 0 0 10px #777777;
	margin-left: 10px;
}

